@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@500;700&display=swap');

:root {
    --overlay-dark: #151414;
    --overlay-dark2: rgba(21, 20, 20, 0.733);
    --brown: #875050;
    --white: #ffffff;
    --black: #000000;
    --shadowGrey: #735252;

    --transition: ease 0.7s;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--brown);
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    position: relative;
}

/* =================================
            Typography 
==================================*/
.navLink, .p-info a, h2,
.switchBtn, .f-name, h3,
.resume, .p-title, .btn,
.mailLink {
  color: var(--white);
  font-family: 'Playfair Display', serif; 
  font-weight: 700;
}

a {
  text-decoration: none;
}

.navLink:hover,
.navLink:focus {
  border-bottom: 5px solid var(--brown);
}

.p-title {
  padding-bottom: .5em;
  border-bottom: 1px solid var(--white);
}

.f-name {
  font-size: 1.8rem;
  margin-bottom: 0;
}

.navLink {
  margin-left: 2em;
}

.p-info a:last-child {
  margin-left: 1.5em;
}

h1, .mainTitle {
  font-size: 4rem;
  font-family: 'Playfair Display', serif; 
}

h1 ~ p {
  margin: .8em auto;
  font-size: 1.3rem;
}

.mainTitle {
  margin: 0;
}

.coverT {
  justify-content: center;
}

.switchBtn, h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.btn, .resume {
  font-size: 1.2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

/* =================================
            Layout 
==================================*/
.container, .coverP {
  background-size: cover;
  background-position: center;
  padding: 1em;
  background-blend-mode: overlay;
}

.mobileMenu,
.icon-close,
.mobile-socials {
  display: none;
}

.container {
  background-image: url("assets/bg-home.jpg");
}

.wrapper, .container {
  width: 95%;
  margin: 0 auto;
  padding: 1em;
  min-height: 100vh;
  background-color: var(--overlay-dark);
}

header {
  width: 90%;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--black);
  box-shadow: 10px 10px 20px var(--black),
              -10px -10px 20px var(--overlay-dark2);
  padding: .7em 2em;
  z-index: 1;
  position: relative;
  left: 5%;
  margin-top: 1.5em;
}

main {
  margin: 2em auto 0;
}

.logo-icon {
  width: 8%;
}

.coverContent, main {
  width: 90%;
}

header, .about-info,
.socials, .coverContent,
.mainContent, .cover-info,
.slideContainer {
  display: flex;
}

header {
  align-items: center;
}

header, .about-info,
.coverContent {
  justify-content: space-between;
}

.socials,
.cover-info,
.slideContainer {
  flex-direction: column;
}

.socials {
  position: absolute;
  bottom: 15%;
  left: 45%;
}

.icons {
  width: 30px;
  margin-bottom: .5em;
}

.content, form, 
.intro {
  width: 70%;
}

.humor, .intro {
  width: 50%;
}

.f-name, .p-btn, 
.slide, .aboutImg,
.humor, .coverImg {
  align-self: center;
}

.intro, footer,
.humor, .contact-data {
  text-align: center;
}

.content, form,
.contact-data {
  margin: 0 auto;
}

.tagIcon {
  position: absolute;
  z-index: 0;
  margin-top: -3em;
}

.tagBox {
  height: 80vh;
  width: 20vw;
}

.about-info {
  border-radius: 10px;
  padding: 1.5em;
}

.about-info, .switchBtn,
.slide, .contact-info,
.preview button:hover,
.preview button:focus {
  background-color: var(--brown);
}

.aboutImg, .Bio {
  width: 46%;
}

.Bio {
  text-align: left;
}

.bioImg, .contact-info,
input, textarea,
.p-img img {
  width: 100%;
}

.coverContent {
  margin: 1.5em auto 0;
}

.cover-info {
  width: 40%;
}

.coverP {
  width: 55%;
  background-color: var(--overlay-dark);
  background-image: url(assets/text.svg);
}

.switchBtn {
  padding: .5em;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition);
}

.coverImg, .slide,
.contact-info {
  width: 60%;
}

.bioImg, .coverImg {
  border-radius: 50%;
}

.interests-p {
  margin-bottom: 2em;
}

.slide {
  padding: 1em 0;
  border-radius: 8px;
  margin-bottom: .5em;
}

.preview button {
  padding: 1em 1.2em;
  border: 1px solid var(--white);
  border-radius: 2px;
}

.p-img, .p-info {
  width: 90%;
  margin: 0 auto;
}

.p-img img {
  height: 200px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}

.p-icons {
  width: 30px;
}

input, textarea {
  display: block;
  margin-bottom: .8em;
  border-radius: 3px;
  border: 0;
}

button, .resume {
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition);
  border: 0;
}

.resume {
  text-transform: uppercase;
  padding: .7em 2em;
}

.resume:hover,
.resume:focus,
.btn:hover,
.btn:focus {
  background-color: var(--overlay-dark);
}

.resume, .btn,
.switchBtn:hover,
.switchBtn:focus,
.preview button {
  background-color: var(--black);
}

footer {
  margin-top: 2em;
}

.contact-data {
  width: 80%;
}

.contact-info, .btn,
input, textarea, form {
  padding: 1em;
}

.contact-info {
  border-radius: 10px;
}

.btn {
  padding: .5em 2em;
}